__pycache__
get-pip.py
*/node_modules
node_modules
.vscode

influx/influx-data.txt
influx/config/
influx/data

backend/testQuery.js

.venv
venv
*/venv
*/.venv

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
reload.sh
